.menuContent {
    min-width: 120px;
    border-radius: 1px;
    border-top: 0;
    border-width: 1px;
    border-left: 0;
    border-bottom: 0;
    border-top-right-radius: 0;
    height: 100%;
    overflow: auto;
}

.Navigator {
    
}

.Navigator button {
    width: 100%;
}

.Navigator button:hover {
    width: 100%;
    transition: 0.5s;
}