.menuContent {
    min-width: 100%;
    border-radius: 1px;
    border-top: 0;
    border-width: 1px;
    border-left: 0;
    border-bottom: 0;
    border-top-right-radius: 0;
    height: 100%;
    overflow: auto;
    position: absolute;
    border: none;
    background: transparent;
}

.menuContent > ul > li {
    position: relative;
}
.menuContent > ul > li ul {
    position: absolute;
    top: 0px;
    left: 128px;
    display: none;
}
.menuContent > ul > li:hover ul {
    position: absolute;
    top: 0px;
    left: 128px;
    display: block;
}

.Navigator button {
    width: 100%;
}

.Navigator button:hover {
    width: 100%;
    transition: 0.5s;
}